<html>

<head>
	 <!-- This is operating instructions for how the webpage should look - or, really, where it can go to get instructions. -->


	 <title>Swampr</title> 
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<!--This section will have an img.-->

<body>   


<div id = "header"><h1>Swampr Blog</h1></div>




{% for user in all_user %}
<div {% if user.username == "Kittylee" %} class = "post_" {%else%} class="post_holder" {% endif %}>
	

{% for post in all_post %}
	{% if post.author_id == user.id %}
	<p><span class="post_header">{{post.title}} - Posted by <span class="author">{{user.firstname}} {{user.lastname}}</span></p>
		
	<p>{{post.content}}</p></p>

		{% endif %}
	{% endfor %}
	</div>
{% endfor %}







	<!-- Actual webpage. -->



</body> 






</html>
